/* CSS declarations go here */
body {
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Bree Serif', serif;
}

header {
    margin-top: 0;
    background-color: #000000;
    color: #ffffff;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    font-size: xx-large;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

}

.container {
    margin-top: 75px;
    height: 100%;
}

.jumbotron{
    background-color: rgba(220, 220, 220, 0.9);
    height: 80%;
}


#startbutton {
    position: relative;
    top: 50%;
    left: 50%;

}

.player {
    background-color: #ffffff;
    height: 30%;
    overflow: hidden;
}

.first.player{
    float: left;
}

.second-player{
    float: right;
}

.now-playing{
    height: 30%;
    text-align: center;
    margin-top: 10%;
}

.answer-button {
    margin-top: 5%;
    text-align: center;
}

.modal-content {
    height: 200px;
}
.modal{
    top: 25%;
}
.blurred{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
