/* CSS declarations go here */
body {
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Bree Serif', serif;
}

header {
    margin-top: 0;
    background-color: #000000;
    color: #ffffff;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    font-size: xx-large;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

}

.header-login {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.header-help {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.container {
    margin-top: 75px;
    height: 100%;
}

.jumbotron{
    background-color: rgba(220, 220, 220, 0.9);

}


#startbutton {
    position: relative;
    top: 50%;
    left: 50%;

}

.player {
    background-color: #ffffff;
    height: 30%;
    overflow: hidden;
}

.game-card{
    margin: 2%;
    background-color: white;
}

.first-player{
    float: left;
}

.second-player{
    float: right;
}
.game-card{
    position: center;
    overflow: hidden;
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-bottom: 10px !important;
    padding-top: 25px !important;

}
.lobby-cards{
    position: center;
    overflow: hidden;
}
.now-playing{
    height: 30%;
    text-align: center;
    margin-top: 5%;
}

.answer-button {
    margin-top: 5%;
    text-align: center;
}
.create-button {
    text-align: center;
}
.join-button {
    text-align: center;
    float: right;
    float: bottom;
    
}
.card-stuff-text{
    padding-bottom: 30px;
    text-align: center;
}
.modal-content {
    height: 200px;
}
.modal{
    top: 25%;
}
.blurred{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}

.first-player h2{
    color: green;
}

.second-player h2{
    color: green;
}

.trivia{
    margin-bottom: 5%;
}

.spotify-img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:90%;
    height: 30px;
    margin-bottom: 2%;
}