<template name="aboutTemplate">
    <div class="container">
        <div class="jumbotron container-fluid text-center">
                    <h3 class="text-center" style="color:black">Rules</h3>
                        <p> The goal of Destination Unknown is to, as quickly as possible, correctly guess where you are going. At each stage of your journey a song snippet from an artist originating from the destination will be played as a hint. In addition, snippets from the destination's wikipedia page will be given to you. As you get closer to the destination the hints become more hinty, while the amount of points you get for a correct answer decreases.
                        </p>
                    <h3 class="text-center" style="color:black">Created by</h3>
                    <div class="text-center">
                        <p>
                        <a href="https://se.linkedin.com/pub/ola-petersson/47/71b/b28" target="_blank">Ola Petersson</a>
                        <br><a href="https://se.linkedin.com/in/carlengstrom" target="_blank">Carl Engström</a>
                        <br><a href="https://se.linkedin.com/in/mathiasforssen" target="_blank">Mathias Forssén</a>
                        <br><a href="https://se.linkedin.com/pub/adam-scott/67/410/18b" target="_blank">Adam Scott</a>
                        <br><a href="https://se.linkedin.com/in/anderssonjessica" target="_blank">Jessica Andersson</a>
                        </p>
                    </div>
                    <br>
                    <h3 class="text-center" >This site is powered by <a href="http://the.echonest.com/" target="blank">EchoNest</a> and <a href="https://www.spotify.com/" target="blank">Spotify</a></h3>
        </div>
    </div>
</template>