<template name = 'activeGame'>
    <div class="container animated fadeIn">
		<div class="jumbotron container-fluid">
            <div class="col-md-12 text-center"><h2>{{gameName}}</h2></div>
	        <div class="jumbotron player first-player col-md-4">
                <h3>{{playerOne.name}}</h3>
                {{#if playerOne.stoppedAt}}
                Stopped at:

                    {{playerOne.stoppedAt}} points
                {{/if}}
            </div>
            <div class="col-md-4 now-playing"><h3>{{infoText}}</h3>
                <br>
                {{songScore}} Points
            </div>
            <div class="jumbotron player second-player col-md-4">
                <h3>{{playerTwo.name}}</h3>
                {{#if playerTwo.stoppedAt}}
                Stopped at:

                    {{playerTwo.stoppedAt}} points
                {{/if}}
            </div>
            <div class="col-md-12 text-center trivia" style="font-family: 'Shadows Into Light', cursive;">
                <i><h2>{{trivia}}</h2></i>
            </div>
            <div class="col-md-12 text-center trivia" >
                <ol reversed class="ol-center">
                    {{#each artistAndSongs}}
                    <li class="col-md-12"><span><h4 class="col-md-8 col-md-offset-2">{{artist}} - {{track}}</h4> <a class="col-md-2" href="{{spotify}}" target="_blank">
                        <img src="/img/listen-spotify.jpg" class="spotify-img" />
                    </a></span></li>

                    {{/each}}
                </ol>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" id="gameProgress" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="10" style="width: 0%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 answer-button">
                <div class="col-md-9">
                    <button id="answerButton" class="btn btn-success col-md-offset-4 btn-lg">I KNOW!</button>
                    <button id="leaveButton" class="btn btn-success col-md-offset-4 btn-lg" style="display: none;">Back to lobby! </button>
                </div>
                <div class="col-md-3">
                    <button id="forfeitButton" class="btn btn-warning btn-lg pull-right">Forfeit!</button>                    
                </div>
            </div>
	    </div>
	</div>
    {{>answerModal}}

</template>