<template name = 'activeGame'>
    <div class="container animated fadeIn">
		<div class="jumbotron">
	        <div class="jumbotron player first-player col-md-4">
                <h3>{{playerOne.name}}</h3>
                {{#if playerOne.stoppedAt}}
                Stopped at:

                    {{playerOne.stoppedAt}} points
                {{/if}}
                {{#if playerOne.guess}}
                    Thought it was {{playerOne.guess}}
                {{/if}}
                {{#if playerOne.answer}}
                    <h2>CORRECT!</h2>
                {{/if}}
            </div>
            <div class="col-md-4 now-playing"><h3>{{infoText}}</h3>
                <br>
                {{songScore}} Points
            </div>
            <div class="jumbotron player second-player col-md-4">
                <h3>{{playerTwo.name}}</h3>
                {{#if playerTwo.stoppedAt}}
                Stopped at:

                    {{playerTwo.stoppedAt}} points
                {{/if}}
                {{#if playerTwo.guess}}
                    Thought it was {{playerTwo.guess}}
                {{/if}}
                {{#if playerTwo.answer}}
                    <h2>CORRECT!</h2>
                {{/if}}
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" id="gameProgress" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="10" style="width: 0%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 answer-button">
                <button id="answerButton" class="btn btn-success btn-lg">I KNOW!</button>
            </div>
	    </div>
	</div>
    {{>answerModal}}

</template>