<template name="answerModal">
    <div class="modal fade in animated fadeIn" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center">Give us the answer!</h4>
                </div>
                <div class="modal-body">
                    <input type="text" id="answerInput" class="col-md-8 col-md-offset-2" autofocus>
                </div>
                <div class="col-md-12 answer-button">
                    <button class="col-md-4 col-md-offset-4 btn btn-success btn-lg" id="modalAnswer">ANSWER!</button>
                </div>
            </div>
        </div>
    </div>
</template>