<template name="helpModal">
    <div class="modal fade in animated fadeIn" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" style="color:black">The goal of Destination Unknown is to, as quickly as possible, correctly guess where you are going. At each stage of your journey a song snippet from an artist originating from the destination will be played as a hint. In addition, snippets from the destination's wikipedia page will be given to you. As you get closer to the destination the hints become more hinty, while the amount of points you get for a correct answer decreases.</h4>
                </div>
                <div class="col-md-12 helpDone-button">
                    <button class="col-md-4 col-md-offset-4 btn btn-success btn-lg" id="modalDone">Got it!</button>
                </div>
            </div>
        </div>
    </div>
</template>