<template name = 'lobby'>
    <div class="container">
        <div class="jumbotron container-fluid">
            {{>welcomeScreen}}
            <div class ="lobby-cards col-md-12 col-md-offset-1" >
        	
        		{{#each gameList}}
                    {{>gameCard }} 
                {{/each}}
            </div>
            
            {{>createNewGameButton}}
            {{>createGameModal}}
            
        </div>
    </div>
</template>

<template name = 'gameCard'> 
 <div class="jumbotron game-card col-md-3">
    <div class='card-stuff-text'>
        <h3>{{gameName}}</h3>
        {{gameOwner}}
    </div>
        {{>joinButton}}

 </div>
</template>

<template name='createNewGameButton'>
    <div class="col-md-12 create-button">
        <button id="createNewGameButton" class="btn btn-success btn-lg">Create game</button>
    </div>
</template>

<template name='joinButton'>
        <button class="join-button btn btn-success btn-lg" onclick="joinGame('{{_id}}')">Join!</button>
</template>

<template name="welcomeScreen"> 
    <div id="welcome-text" style="text-align: center;">
        <h3>Welcome to Destination Unknown!
            <p>Sign in to see available games or to create a new game.</p>
        </h3>
    </div>
</template>

